body {
  text-align:center; /*ページ全体を中央揃えにする*/
		color:#222;
		position: relative;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
color:#630;
line-height:25px;
font-size:0.95em;
}

h1, h2, nav, ul {
	font-family:"Julius Sans One";
}

header {
    text-align: right;
	height:80px;
}

h1 a {
    position: absolute;
    left: 10px;
}


#wrapper{
	max-width : 1000px;
	  position: relative;
   width: 100%;
  text-align: left;   /*全体を左揃えにする*/
		margin: 0 auto;
	padding:10px;
}

.logo_navi {
		    display: flex;  
}

.about_wrap {
	width: 23.5%;
	text-align:center;
}

.about_title {
	padding-top:10px;
	text-align:center;
	font-size: 18px;
	line-height:30px;
}	

.about_box {
	margin: 0 auto;
	width:225px;
	    text-align: center;
	    display: block;   /* インラインブロック化 */
	padding-bottom:30px;
}

.about_text {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 10px 0;
	line-height:1.8;
	  word-break: break-all;
  line-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*Company*/
.company_container {
    margin: 0 auto;
	width: 53.3%;
	line-height:1.5;
}
.company_detail {
    border-collapse: collapse;
}
.company_detail td {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    padding-bottom: 10px;
}
.company_detail td:nth-of-type(1) {
    white-space: nowrap;
    padding-right: 30px;
}
.company_detail .table_t{
    font-weight: bold;
}

.button {
margin:20px 0; 
  display: inline-block;
  width: 240px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
	  background-color: #444;
  border: 2px solid #444;
  color: #fff;
	font-size:16px;

}

.button:hover {
  background-color: #fff;
  border-color: #444;
  color: #444;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.map-wrapper {
	width: 44.69%;
	height: 500px;
}

#footer {
    padding: 200px 0 70px 0;
    bottom: 0; /*下に固定*/
    text-align: center;
    left: 0;
    width: 100%;
}
#footer .info { 
    font-size: 13px;
	line-height:3em;
	color:#222;
	padding:0 10px;
}
#footer .info a:link {color:#222; text-decoration:none;} /*未訪問のリンクの色*/
#footer .info a:visited {color:#222;} /*訪問済みのリンクの色*/
#footer .info a:hover {color:#999; } /*カーソルが乗っているリンクの色*/
#footer .info a:active {color:#999;} /*クリック中のリンクの色*/

