body {
	font-family: quicksand, San Francisco,
		"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
		"ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

#main {
	    margin: 0 auto;
	    text-align: center;

}

h2 .main{
	text-align: center;
	font-size:22px;
	color:#222;
	line-height:1.75;
	font-weight:bold;
}

.about_wrap {
		    margin: 0 auto;
		text-align:center;
}

.about_title {
	text-align:center;
	font-size: 18px;
	line-height:30px;
}	

.about_box {
	width:225px;
	    text-align: left;
	    display: block;   /* インラインブロック化 */
}

.about_text {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 10px 0;
	color:#222;
	line-height:1.8;
	  word-break: break-all;
  line-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*Company*/
.company_container {
    margin: 0 auto;
}
.company_detail {
    border-collapse: collapse;
}
.company_detail td {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    padding-bottom: 10px;
}
.company_detail td:nth-of-type(1) {
    white-space: nowrap;
    padding-right: 30px;
}
.company_detail .table_t{
    font-weight: bold;
}

#footer {
    padding: 80px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    text-align: center;
    left: 0;
    background-color: #ffffff;
    width: 100%;
}
#footer .info { 
    font-size: 13px;
	line-height:3em;
	color:#222;
	padding:0 10px;
}
a:link {color:#222; text-decoration:none;} /*未訪問のリンクの色*/
a:visited {color:#222;} /*訪問済みのリンクの色*/
a:hover {color:#eee; } /*カーソルが乗っているリンクの色*/
a:active {color:#eee;} /*クリック中のリンクの色*/