.navi_pc {
		font-size:20px;
}

.navi_navi{
	    line-height: 80px;
}

navi ul {
    margin: 0;
    padding: 0;
}

nav ul li {

    display: inline-block;
    margin-right: 20px;
	align-items: center;
		    line-height: 32px;
}

nav ul li a {
	  display: block;
  padding: 0 0 5px;
  position: relative;
    text-decoration: none;
}

nav ul li a::before,
nav ul li a::after {
  border-bottom: solid 2px #222;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  width: 0;
}
nav ul li a::before {
  left: 50%;
}
nav ul li a::after {
  right: 50%;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  width: 50%;
}

nav ul li a:link {color:#222; text-decoration:none;} /*未訪問のリンクの色*/
nav ul li a:visited {color:#222;} /*訪問済みのリンクの色*/
nav ul li a:hover {color:#333; } /*カーソルが乗っているリンクの色*/
nav ul li a:active {color:#333;} /*クリック中のリンクの色*/

.navi_sp {
display:none;
}	

.high {
	padding: 80px 0 30px; 0;
		font-size:40px;
}

.category{
	padding:30px;
	font-size:26px;
}

.main_visual {
width:100%;
padding-top: 350px;
text-align: center;
background: #222;
	background-image: url("../image/bg_2.jpg") ;
	background-size:cover;
	margin-bottom:15px;
}

.main_copy {
	padding-top:20px;
	text-align: center;
	font-size:22px;
	color:#444;
	line-height:1.75;
	font-weight:bold;
}

.main_copy_sp {
display:none;
}

.about_flex_box {
	padding:  20px;             /* 余白指定 */
	    display: flex;
		max-width : 1000px;
			margin: 0 auto;
}

.about_wrap {
	    padding: 10px;
    color:  #222;               /* 文字色 */
	text-align:center;
}

.about_image {
width:100%;
max-width: 100%;
height: auto;
}

.about_title {
	padding-top:10px;
	text-align:center;
	font-size: 18px;
	line-height:30px;
}	

.about_box {

	width:100%;
	    text-align: center;
	    display: block;   /* インラインブロック化 */
}

.about_text {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 10px 0;
	color:#222;
	line-height:1.8;
	  word-break: break-all;
  line-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.map_flex {
		padding:  20px;             /* 余白指定 */
	display: flex;
			max-width : 1000px;
			margin: 0 auto;
}

  #pageTop {
	  	padding-top: 6px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #pageTop i {
  	padding-top: 6px 
  }
  #pageTop a {
    display: block;
    z-index: 999;
    padding: 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    background-color: #444444;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  #pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }