@charset "UTF-8";
.slideshow {
  position: relative;
  overflow: hidden;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .slideshow {
    display: none;
  }
}

input[name="slideshow-pc"] {
  display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  transition: transform .6s;
  padding: 15px 0;
  max-height: 450px;
  height: 120%;
}

.slideContents ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slideContents ul .slide-image-area {
  display: inline-block;
	width: 32%;
	height: 500px;
  vertical-align: bottom;
}

.slideContents ul .slide-image-wrap {
  margin: 0;
}

.slideContents ul .slide-image-wrap img {
  width: auto;
  height: auto;
  max-width: 320px;
  max-height: 500px;
  padding: 5%;
	box-sizing: border-box;
	display: inline;
}

.slideContents ul .slide-image-wrap .slide-image-text {
    line-height: 1.7;
	font-size: 16px;
}

.slideContents ul .slide-image-wrap .slide-image-text .product{
  font-weight: bold;
}
.slideContents ul .slide-image-wrap .slide-image-text .price{
	font-size:14px;
}


/* :::::: arrows :::::: */
.arrow {
  position: absolute;
  top: 0;
  margin: 0;
  transition: background .3s;
}

.arrow label, .arrow .ico {
  position: absolute;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.arrow {
  cursor: pointer;
  width: 50px;
  height: 100%;
}

.arrow label {
  cursor: pointer;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.arrow .ico {
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-top: 3px solid #2a2a2a;
}

.prev .ico {
  left: 25%;
  border-left: 3px solid #2a2a2a;
  transform: rotate(-45deg);
  transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
}

.next .ico {
  right: 25%;
  border-right: 3px solid #2a2a2a;
  transform: rotate(45deg);
  transition: right 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
}

.prev:hover .ico {
  left: calc(50% - 6px);
}

.next:hover .ico {
  right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents #slide1, #switch2:checked ~ .slideContents #slide2, #switch3:checked ~ .slideContents #slide3, #switch4:checked ~ .slideContents #slide4, #switch5:checked ~ .slideContents #slide5, #switch6:checked ~ .slideContents #slide6, #switch7:checked ~ .slideContents #slide7, #switch8:checked ~ .slideContents #slide8, #switch9:checked ~ .slideContents #slide9 {
  position: relative;
  transform: none;
}

#switch1:checked ~ .slideContents #slide9, #switch1:checked ~ .slideContents #slide8 {
  transform: translateX(-100%);
}

#switch2:checked ~ .slideContents #slide1, #switch2:checked ~ .slideContents #slide9 {
  transform: translateX(-100%);
}

#switch3:checked ~ .slideContents #slide2, #switch3:checked ~ .slideContents #slide1 {
  transform: translateX(-100%);
}

#switch4:checked ~ .slideContents #slide3, #switch4:checked ~ .slideContents #slide2 {
  transform: translateX(-100%);
}

#switch5:checked ~ .slideContents #slide4, #switch5:checked ~ .slideContents #slide3 {
  transform: translateX(-100%);
}

#switch6:checked ~ .slideContents #slide5, #switch6:checked ~ .slideContents #slide4 {
  transform: translateX(-100%);
}

#switch7:checked ~ .slideContents #slide6, #switch7:checked ~ .slideContents #slide5 {
  transform: translateX(-100%);
}

#switch8:checked ~ .slideContents #slide7, #switch8:checked ~ .slideContents #slide6 {
  transform: translateX(-100%);
}

#switch9:checked ~ .slideContents #slide8, #switch9:checked ~ .slideContents #slide7 {
  transform: translateX(-100%);
}


#switch1:checked ~ .slideContents #slide7, #switch1:checked ~ .slideContents #slide8 {
  transition-duration: 0s;
}

#switch2:checked ~ .slideContents #slide8, #switch2:checked ~ .slideContents #slide9 {
  transition-duration: 0s;
}

#switch3:checked ~ .slideContents #slide9, #switch3:checked ~ .slideContents #slide1 {
  transition-duration: 0s;
}

#switch4:checked ~ .slideContents #slide1, #switch4:checked ~ .slideContents #slide2 {
  transition-duration: 0s;
}

#switch5:checked ~ .slideContents #slide2, #switch5:checked ~ .slideContents #slide3 {
  transition-duration: 0s;
}

#switch6:checked ~ .slideContents #slide3, #switch6:checked ~ .slideContents #slide4 {
  transition-duration: 0s;
}

#switch7:checked ~ .slideContents #slide4, #switch7:checked ~ .slideContents #slide5 {
  transition-duration: 0s;
}

#switch8:checked ~ .slideContents #slide5, #switch8:checked ~ .slideContents #slide6 {
  transition-duration: 0s;
}

#switch9:checked ~ .slideContents #slide6, #switch9:checked ~ .slideContents #slide7 {
  transition-duration: 0s;
}

/* :::::: arrow mechanism :::::: */
.arrow label {
  pointer-events: none;
}

#switch1:checked ~ .prev label[for="switch9"], #switch2:checked ~ .prev label[for="switch1"], #switch3:checked ~ .prev label[for="switch2"], #switch4:checked ~ .prev label[for="switch3"], #switch5:checked ~ .prev label[for="switch4"], #switch6:checked ~ .prev label[for="switch5"], #switch7:checked ~ .prev label[for="switch6"], #switch8:checked ~ .prev label[for="switch7"], #switch9:checked ~ .prev label[for="switch8"],

#switch1:checked ~ .next label[for="switch2"], #switch2:checked ~ .next label[for="switch3"], #switch3:checked ~ .next label[for="switch4"], #switch4:checked ~ .next label[for="switch5"], #switch5:checked ~ .next label[for="switch6"], #switch6:checked ~ .next label[for="switch7"], #switch7:checked ~ .next label[for="switch8"], #switch8:checked ~ .next label[for="switch9"], #switch9:checked ~ .next label[for="switch1"]
{
  pointer-events: auto;
}

/* :::::: スマホ表示 :::::: */
.slideshow-sp {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 481px) {
  .slideshow-sp {
    display: none;
  }
}

input[name="slideshow-sp"] {
  display: none;
}

/* :::::: slideContents :::::: */
.slideContents-sp {
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  transition: transform .6s;
	max-height: 600px;
  height: 170%;
}

.slideContents-sp section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 5% 0;
}

.slideContents-sp section .slide-image-wrap-sp {
  margin: 0 auto;
  max-width: 400px;
  height: 500px;
}

.slideContents-sp section .slide-image-wrap-sp img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.slideContents-sp section .slide-image-wrap-sp .slide-image-text {
    line-height: 1.2;
	font-size: 16px;
}

.slideContents ul .slide-image-wrap .slide-image-text .title{
  font-weight: bold;
}

/* :::::: arrows :::::: */
.arrow-sp {
  position: absolute;
  top: 0;
  margin: 0;
  transition: background .3s;
}

.arrow-sp label, .arrow-sp .ico-sp {
  position: absolute;
}

.prev-sp {
  left: 0;
}

.next-sp {
  right: 0;
}

.arrow-sp {
  cursor: pointer;
  width: 50px;
  height: 100%;
}

.arrow-sp label {
  cursor: pointer;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.arrow-sp .ico-sp {
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-top: 3px solid #2a2a2a;
}

.prev-sp .ico-sp {
  left: 25%;
  border-left: 3px solid #2a2a2a;
  transform: rotate(-45deg);
  transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
}

.next-sp .ico-sp {
  right: 25%;
  border-right: 3px solid #2a2a2a;
  transform: rotate(45deg);
  transition: right 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
}

.prev-sp:hover .ico-sp {
  left: calc(50% - 6px);
}

.next-sp:hover .ico-sp {
  right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1-sp:checked ~ .slideContents-sp #slide1-sp, 
#switch2-sp:checked ~ .slideContents-sp #slide2-sp, 
#switch3-sp:checked ~ .slideContents-sp #slide3-sp, 
#switch4-sp:checked ~ .slideContents-sp #slide4-sp, 
#switch5-sp:checked ~ .slideContents-sp #slide5-sp, 
#switch6-sp:checked ~ .slideContents-sp #slide6-sp, 
#switch7-sp:checked ~ .slideContents-sp #slide7-sp, 
#switch8-sp:checked ~ .slideContents-sp #slide8-sp, 
#switch9-sp:checked ~ .slideContents-sp #slide9-sp, 
#switch10-sp:checked ~ .slideContents-sp #slide10-sp,
#switch11-sp:checked ~ .slideContents-sp #slide11-sp, 
#switch12-sp:checked ~ .slideContents-sp #slide12-sp, 
#switch13-sp:checked ~ .slideContents-sp #slide13-sp, 
#switch14-sp:checked ~ .slideContents-sp #slide14-sp, 
#switch15-sp:checked ~ .slideContents-sp #slide15-sp, 
#switch16-sp:checked ~ .slideContents-sp #slide16-sp, 
#switch17-sp:checked ~ .slideContents-sp #slide17-sp, 
#switch18-sp:checked ~ .slideContents-sp #slide18-sp, 
#switch19-sp:checked ~ .slideContents-sp #slide19-sp, 
#switch20-sp:checked ~ .slideContents-sp #slide20-sp, 
#switch21-sp:checked ~ .slideContents-sp #slide21-sp, 
#switch22-sp:checked ~ .slideContents-sp #slide22-sp, 
#switch23-sp:checked ~ .slideContents-sp #slide23-sp, 
#switch24-sp:checked ~ .slideContents-sp #slide24-sp, 
#switch25-sp:checked ~ .slideContents-sp #slide25-sp {
  position: relative;
  transform: none;
}

#switch1-sp:checked ~ .slideContents-sp #slide25-sp, #switch1-sp:checked ~ .slideContents-sp #slide24-sp {
  transform: translateX(-100%);
}

#switch2-sp:checked ~ .slideContents-sp #slide1-sp, #switch2-sp:checked ~ .slideContents-sp #slide25-sp {
  transform: translateX(-100%);
}

#switch3-sp:checked ~ .slideContents-sp #slide2-sp, #switch3-sp:checked ~ .slideContents-sp #slide1-sp {
  transform: translateX(-100%);
}

#switch4-sp:checked ~ .slideContents-sp #slide3-sp, #switch4-sp:checked ~ .slideContents-sp #slide2-sp {
  transform: translateX(-100%);
}

#switch5-sp:checked ~ .slideContents-sp #slide4-sp, #switch5-sp:checked ~ .slideContents-sp #slide3-sp {
  transform: translateX(-100%);
}

#switch6-sp:checked ~ .slideContents-sp #slide5-sp, #switch6-sp:checked ~ .slideContents-sp #slide4-sp {
  transform: translateX(-100%);
}

#switch7-sp:checked ~ .slideContents-sp #slide6-sp, #switch7-sp:checked ~ .slideContents-sp #slide5-sp {
  transform: translateX(-100%);
}

#switch8-sp:checked ~ .slideContents-sp #slide7-sp, #switch8-sp:checked ~ .slideContents-sp #slide6-sp {
  transform: translateX(-100%);
}

#switch9-sp:checked ~ .slideContents-sp #slide8-sp, #switch9-sp:checked ~ .slideContents-sp #slide7-sp {
  transform: translateX(-100%);
}

#switch10-sp:checked ~ .slideContents-sp #slide9-sp, #switch10-sp:checked ~ .slideContents-sp #slide8-sp {
  transform: translateX(-100%);
}

#switch11-sp:checked ~ .slideContents-sp #slide10-sp, #switch11-sp:checked ~ .slideContents-sp #slide9-sp {
  transform: translateX(-100%);
}

#switch12-sp:checked ~ .slideContents-sp #slide11-sp, #switch12-sp:checked ~ .slideContents-sp #slide10-sp {
  transform: translateX(-100%);
}

#switch13-sp:checked ~ .slideContents-sp #slide12-sp, #switch13-sp:checked ~ .slideContents-sp #slide11-sp {
  transform: translateX(-100%);
}

#switch14-sp:checked ~ .slideContents-sp #slide13-sp, #switch14-sp:checked ~ .slideContents-sp #slide12-sp {
  transform: translateX(-100%);
}

#switch15-sp:checked ~ .slideContents-sp #slide14-sp, #switch15-sp:checked ~ .slideContents-sp #slide13-sp {
  transform: translateX(-100%);

#switch16-sp:checked ~ .slideContents-sp #slide15-sp, #switch16-sp:checked ~ .slideContents-sp #slide14-sp {
  transform: translateX(-100%);
}

#switch17-sp:checked ~ .slideContents-sp #slide16-sp, #switch17-sp:checked ~ .slideContents-sp #slide15-sp {
  transform: translateX(-100%);
}

#switch18-sp:checked ~ .slideContents-sp #slide17-sp, #switch18-sp:checked ~ .slideContents-sp #slide16-sp {
  transform: translateX(-100%);
}

#switch19-sp:checked ~ .slideContents-sp #slide18-sp, #switch19-sp:checked ~ .slideContents-sp #slide17-sp {
  transform: translateX(-100%);
}

#switch20-sp:checked ~ .slideContents-sp #slide19-sp, #switch20-sp:checked ~ .slideContents-sp #slide18-sp {
  transform: translateX(-100%);
	
#switch21-sp:checked ~ .slideContents-sp #slide20-sp, #switch21-sp:checked ~ .slideContents-sp #slide19-sp {
  transform: translateX(-100%);
}

#switch22-sp:checked ~ .slideContents-sp #slide21-sp, #switch22-sp:checked ~ .slideContents-sp #slide20-sp {
  transform: translateX(-100%);
}

#switch23-sp:checked ~ .slideContents-sp #slide22-sp, #switch23-sp:checked ~ .slideContents-sp #slide21-sp {
  transform: translateX(-100%);
}

#switch24-sp:checked ~ .slideContents-sp #slide23-sp, #switch24-sp:checked ~ .slideContents-sp #slide22-sp {
  transform: translateX(-100%);
}

#switch25-sp:checked ~ .slideContents-sp #slide24-sp, #switch25-sp:checked ~ .slideContents-sp #slide23-sp {
  transform: translateX(-100%);
	
#switch1-sp:checked ~ .slideContents-sp #slide3-sp, #switch1-sp:checked ~ .slideContents-sp #slide4-sp {
  transition-duration: 0s;
}

#switch2-sp:checked ~ .slideContents-sp #slide4-sp, #switch2-sp:checked ~ .slideContents-sp #slide5-sp {
  transition-duration: 0s;
}

#switch3-sp:checked ~ .slideContents-sp #slide5-sp, #switch3-sp:checked ~ .slideContents-sp #slide6-sp {
  transition-duration: 0s;
}

#switch4-sp:checked ~ .slideContents-sp #slide6-sp, #switch4-sp:checked ~ .slideContents-sp #slide7-sp {
  transition-duration: 0s;
}

#switch5-sp:checked ~ .slideContents-sp #slide7-sp, #switch5-sp:checked ~ .slideContents-sp #slide8-sp {
  transition-duration: 0s;
	
#switch6-sp:checked ~ .slideContents-sp #slide8-sp, #switch6-sp:checked ~ .slideContents-sp #slide9-sp {
  transition-duration: 0s;
}

#switch7-sp:checked ~ .slideContents-sp #slide9-sp, #switch7-sp:checked ~ .slideContents-sp #slide10-sp {
  transition-duration: 0s;
}

#switch8-sp:checked ~ .slideContents-sp #slide10-sp, #switch8-sp:checked ~ .slideContents-sp #slide11-sp {
  transition-duration: 0s;
}

#switch9-sp:checked ~ .slideContents-sp #slide11-sp, #switch9-sp:checked ~ .slideContents-sp #slide12-sp {
  transition-duration: 0s;
}

#switch10-sp:checked ~ .slideContents-sp #slide12-sp, #switch10-sp:checked ~ .slideContents-sp #slide13-sp {
  transition-duration: 0s;

#switch11-sp:checked ~ .slideContents-sp #slide13-sp, #switch11-sp:checked ~ .slideContents-sp #slide14-sp {
  transition-duration: 0s;
}

#switch12-sp:checked ~ .slideContents-sp #slide14-sp, #switch12-sp:checked ~ .slideContents-sp #slide15-sp {
  transition-duration: 0s;
}

#switch13-sp:checked ~ .slideContents-sp #slide15-sp, #switch13-sp:checked ~ .slideContents-sp #slide16-sp {
  transition-duration: 0s;
}

#switch14-sp:checked ~ .slideContents-sp #slide16-sp, #switch14-sp:checked ~ .slideContents-sp #slide17-sp {
  transition-duration: 0s;
}

#switch15-sp:checked ~ .slideContents-sp #slide17-sp, #switch15-sp:checked ~ .slideContents-sp #slide18-sp {
  transition-duration: 0s;
	
#switch16-sp:checked ~ .slideContents-sp #slide18-sp, #switch16-sp:checked ~ .slideContents-sp #slide19-sp {
  transition-duration: 0s;
}

#switch17-sp:checked ~ .slideContents-sp #slide19-sp, #switch17-sp:checked ~ .slideContents-sp #slide20-sp {
  transition-duration: 0s;
}

#switch18-sp:checked ~ .slideContents-sp #slide20-sp, #switch18-sp:checked ~ .slideContents-sp #slide21-sp {
  transition-duration: 0s;
}

#switch19-sp:checked ~ .slideContents-sp #slide21-sp, #switch19-sp:checked ~ .slideContents-sp #slide22-sp {
  transition-duration: 0s;
}

#switch20-sp:checked ~ .slideContents-sp #slide22-sp, #switch20-sp:checked ~ .slideContents-sp #slide23-sp {
  transition-duration: 0s;
	
#switch21-sp:checked ~ .slideContents-sp #slide23-sp, #switch21-sp:checked ~ .slideContents-sp #slide24-sp {
  transition-duration: 0s;
}

#switch22-sp:checked ~ .slideContents-sp #slide24-sp, #switch22-sp:checked ~ .slideContents-sp #slide25-sp {
  transition-duration: 0s;
}

#switch23-sp:checked ~ .slideContents-sp #slide25-sp, #switch23-sp:checked ~ .slideContents-sp #slide1-sp {
  transition-duration: 0s;
}

#switch24-sp:checked ~ .slideContents-sp #slide1-sp, #switch24-sp:checked ~ .slideContents-sp #slide2-sp {
  transition-duration: 0s;
}

#switch25-sp:checked ~ .slideContents-sp #slide2-sp, #switch25-sp:checked ~ .slideContents-sp #slide3-sp {
  transition-duration: 0s;
}

/* :::::: arrow mechanism :::::: */
.arrow-sp label {
  pointer-events: none;
}

#switch1-sp:checked ~ .prev label[for="switch25-sp"], #switch2-sp:checked ~ .prev-sp label[for="switch1-sp"], #switch3-sp:checked ~ .prev-sp label[for="switch2-sp"], #switch4-sp:checked ~ .prev-sp label[for="switch3-sp"], #switch5-sp:checked ~ .prev-sp label[for="switch4-sp"],
#switch6-sp:checked ~ .prev label[for="switch5-sp"], #switch7-sp:checked ~ .prev-sp label[for="switch6-sp"], #switch8-sp:checked ~ .prev-sp label[for="switch7-sp"], #switch9-sp:checked ~ .prev-sp label[for="switch8-sp"], #switch10-sp:checked ~ .prev-sp label[for="switch9-sp"],
#switch11-sp:checked ~ .prev label[for="switch10-sp"], #switch12-sp:checked ~ .prev-sp label[for="switch11-sp"], #switch13-sp:checked ~ .prev-sp label[for="switch12-sp"], #switch14-sp:checked ~ .prev-sp label[for="switch13-sp"], #switch15-sp:checked ~ .prev-sp label[for="switch14-sp"],#switch16-sp:checked ~ .prev label[for="switch15-sp"], #switch17-sp:checked ~ .prev-sp label[for="switch16-sp"], #switch18-sp:checked ~ .prev-sp label[for="switch17-sp"], #switch19-sp:checked ~ .prev-sp label[for="switch18-sp"], #switch20-sp:checked ~ .prev-sp label[for="switch19-sp"],#switch21-sp:checked ~ .prev label[for="switch10-sp"], #switch22-sp:checked ~ .prev-sp label[for="switch21-sp"], #switch23-sp:checked ~ .prev-sp label[for="switch22-sp"], #switch24-sp:checked ~ .prev-sp label[for="switch23-sp"], #switch25-sp:checked ~ .prev-sp label[for="switch24-sp"],

#switch1-sp:checked ~ .next-sp label[for="switch2-sp"], #switch2-sp:checked ~ .next-sp label[for="switch3-sp"], #switch3-sp:checked ~ .next-sp label[for="switch4-sp"], #switch4-sp:checked ~ .next-sp label[for="switch5-sp"], #switch5-sp:checked ~ .next-sp label[for="switch6-sp"],#switch6-sp:checked ~ .next-sp label[for="switch7-sp"], #switch7-sp:checked ~ .next-sp label[for="switch8-sp"], #switch8-sp:checked ~ .next-sp label[for="switch9-sp"], #switch9-sp:checked ~ .next-sp label[for="switch10-sp"], #switch10-sp:checked ~ .next-sp label[for="switch11-sp"], #switch11-sp:checked ~ .next-sp label[for="switch12-sp"], #switch12-sp:checked ~ .next-sp label[for="switch13-sp"], #switch13-sp:checked ~ .next-sp label[for="switch14-sp"], #switch14-sp:checked ~ .next-sp label[for="switch15-sp"], #switch15-sp:checked ~ .next-sp label[for="switch16-sp"],#switch16-sp:checked ~ .next-sp label[for="switch17-sp"], #switch17-sp:checked ~ .next-sp label[for="switch18-sp"], #switch18-sp:checked ~ .next-sp label[for="switch19-sp"], #switch19-sp:checked ~ .next-sp label[for="switch20-sp"], #switch20-sp:checked ~ .next-sp label[for="switch21-sp"], #switch21-sp:checked ~ .next-sp label[for="switch22-sp"], #switch22-sp:checked ~ .next-sp label[for="switch23-sp"], #switch23-sp:checked ~ .next-sp label[for="switch24-sp"], #switch24-sp:checked ~ .next-sp label[for="switch25-sp"], #switch25-sp:checked ~ .next-sp label[for="switch1-sp"] 

{
  pointer-events: auto;
}